name: Build and Test

"on":
  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - "**/*.go"
      - .github/workflows/provider-build.yaml
  pull_request:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - "**/*.go"
      - .github/workflows/provider-build.yaml

permissions: {}

jobs:
  build:
    permissions:
      contents: read
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    name: Build and Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Build
        run: make build
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest
      - name: Unit Test
        run: make test

  lint:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          only-new-issues: true
          working-directory: ./
